Django==5.1.4
mysql-connector-python==9.1.0
opencv-contrib-python==4.10.0.84
opentelemetry-api==1.18.0
pillow==11.1.0
psycopg2-binary==2.9.10
PyAutoGUI==0.9.54
PyMySQL==1.1.1
python-decouple==3.8
requests==2.32.3
setuptools==75.5.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.28.1
